$bgc:#E9EDF0; // 背景色
$fc9:#999; // 主要字体颜色#999
$fc6:#666; // 主要字体颜色#999
$fc3:#333; // 主要字体颜色#999
$fcb:#370EF0; // 主要字体颜色blue
$fcr: #F00E46; // 主要字体颜色red
$border_r: #ebebeb; // 右边框颜色border_round
$liner_t: #ebebeb; // 顶部边框颜色 border_top
$liner_b: #ebebeb; // 底部边框颜色 border_bottom
$liner_l: #ebebeb; // 左边框颜色 border_left
$liner_r: #ebebeb; // 右边框颜色 border_right